*

!*.yml
!*.sh
!*/
!*.d
!*.di
!*.dpp
!*.h
!*.hpp
!*.cuh
!*.c
!*.cu
!*.cpp
!*.md
!*.awk

!dub.json
!.gitignore
!Makefile

.dub
docs.json
__dummy.html
docs/
/grain2
grain2.so
grain2.dylib
grain2.dll
grain2.a
grain2.lib
grain2-test-*
*.exe
*.o
*.obj
*.lst
adrdox